@using BOOking.DAL.Entities;
@using BOOking.MVC.Models;
@{
    GatewayViewModel model = Model;
    var gateway = model.Gateways;
}

<!-- Back ground image and heading -->
<div id="Gateway_backimage">
    <div id="backimage">
        <div>
            <p class="upper">The great getaway, your way</p>
            <p class="heading">Save at least 15% with Getaway Deals</p>
            <p class="tagline">Find deals on stays between 4 April–28 September 2023</p>
        </div>
    </div>
</div>





<section id="gateway">

    <div class="course-area pt-150 pb-150">
        <div class="container">
            <div class="row" id="gatewayRow">
                @foreach(var item in gateway)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-course mb-70">
                            <div class="course-img">
                                <a asp-controller="home" asp-action="index">
                                    <img src="@item.ImageUrl" alt="course">
                                </a>
                            </div>
                            <div class="course-content">

                                <p><span class="green">Getaway Deal</span> start from <span class="green_price">@item.Price</span></p>
                                <a class="default-btn" href="/product.html">View deals</a>
                            </div>
                        </div>
                    </div>
                }
               
            </div>

            <div class="row justify-content-center">
                <input value="@ViewBag.GatewayCount" type="hidden" id="gatewayCount" />
                <button class="btn btn-primary" id="loadGateway">Load more</button>
            </div>
        </div>
    </div>

</section>

<section id="about">
    <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="all">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="left">
                    <h2>Getaway Deals – Frequently Asked Questions</h2>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                How much can I save with Getaway Deals?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Getaway Deals start at 15% off. Discounts are applied to the original price of a room, before taxes and charges. The discounted prices offered as Getaway Deals can’t be combined with other discounts, except for Genius discounts.</p></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                When can I travel using Getaway Deals?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Getaway Deals are available at participating properties worldwide, for stays between 24 December(2023) and 20 February 2024.</p></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                When can I book Getaway Deals?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>Getaway Deals can be booked between 24 December(2023) and 15 January 2024.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Lower Search Bar -->
<div id="lower_seachbar_container">
    <p id="subs_head">Save time, save money!<p>
    <p id="subs_desc">Sign up and we'll send the best deals to you</p>
    <div>
        <input id="subs_mail" type="text" placeholder="  Your email address">
        <button id="subs_btn">Subscribe</button>
    </div>
</div>


<!-- List Your Property -->
<div id="lyp">
    <button id="lyp_btn">List your property</button>
    <hr id="lyp_line">
    <div id="lyp_msc">
        <a href="">Mobile Version</a>
        <a asp-controller="account" asp-action="login">Your account</a>
        <a href="">Make changes to your booking online</a>
        <a data-toggle="tooltip" data-placement="bottom" title="Your Reference ID is 'YAN6U71N' " href="">Customer Service Help</a>
        <a data-toggle="tooltip" data-placement="bottom" title="Become An Affliate " href="">Bacome an affliate</a>
        <a href="">Booking.com for Business</a>
    </div>
</div>